# MacOS
.DS_Store

# Node.js
node_modules/
npm-debug.log

# Cocos Creator
## Ignore these folders in all projects
library/
temp/
local/
build/
profiles/

## Native builds
native/

## VS Code
.vscode/

## Logs
*.log
logs/

# Other
.claude/
